/* header */

.settings-dropdown .dropdown-button {
  width: 60px !important;
  background: linear-gradient(to bottom, #fdfdfd 0%, #f5f5f6 100%) !important;
  border-radius: 10px;
}

.settings-dropdown .dropdown-button::after {
  content: "\f0d7";
  font-family: FontAwesome;
  font-weight: normal;
  font-size: 10px;
}

.heading-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.heading-area .title-box div {
  display: flex;
  align-items: center;
}

.heading-area .title {
  font-size: 23px;
  font-weight: bold;
}

.heading-area .status {
  padding: 7px 12px;
  box-shadow: 0px 0px 2px 1px #dbdbde;
  background: linear-gradient(to bottom, #fdfdfd 0%, #f5f5f6 100%) !important;
  margin-left: 20px;
  border-radius: 10px;
}

.heading-area .status p {
  font-size: 13px;
  font-weight: bold;
}

.heading-area .status i {
  color: #26d00f;
  margin-right: 5px;
}

.heading-area .subtitle {
  font-weight: bold;
  font-size: 12px;
  margin-top: 5px;
}

.status-boxes {
  margin-top: 30px;
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr 1.07fr 1fr 1fr 1.07fr 1fr 1fr;
}

.status-boxes .status-box {
  background-color: white;
  padding: 15px 20px;
  box-shadow: 0px 0px 5px 1px #dbdbde;
  display: flex;
  justify-content: space-between;
}

.status-boxes .status-box:nth-child(3),
.status-boxes .status-box:nth-child(6) {
  margin-right: 20px;
}

.status-boxes .status-box:nth-child(3),
.status-boxes .status-box:nth-child(6),
.status-boxes .status-box:nth-child(8) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.status-boxes .status-box:nth-child(1),
.status-boxes .status-box:nth-child(4),
.status-boxes .status-box:nth-child(7) {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.status-boxes .status-box .title-box {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.status-boxes .status-box .title-box .title {
  font-size: 25px;
  margin-bottom: 8px;
}

.status-boxes .status-box .title-box .subtitle {
  font-size: 13px;
}

.status-boxes .status-box i {
  font-size: 16px;
}

/* tabs */

.tabs-buttons {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.tab-button {
  border-bottom: 1px solid #dadada;
  padding: 12px;
  cursor: pointer;
  font-size: 13px;
}

.tab-button.selected {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 0;
  font-weight: bold;
  border-top: 2px solid #0695ff;
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
  box-sizing: border-box;
}

.tab4-button {
  padding: 20px;
  flex-grow: 1;
}

.table-search label::before {
  content: "\f002";
  font-family: FontAwesome;
}

.table-search label input[type="search"] {
  border: none !important;
  padding-left: 10px;
}

.table-search label input[type="search"]:focus {
  border: none;
  outline: none;
}

.table-search label {
  background-color: white !important;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #dbdbde;
  border: 1px solid #dadada;
}

.table-search {
  margin-left: 30px;
  padding-top: 12px;
}

.data-table-section {
  margin-top: 30px;
}

.table-role {
  visibility: hidden !important;
  padding: 5px 10px;
  border-radius: 20px;
  width: min-content;
  font-size: 11px;
}

.table-role.Manager {
  background-color: #2cc421;
}

.table-role.Agent {
  background-color: #dcdcde;
}

.table-status {
  background: linear-gradient(to bottom, #fdfdfd 0%, #f5f5f6 100%) !important;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #dadada;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100px;
}

.table-status span {
  font-size: 12px;
  margin-left: 8px;
}

.table-call-handling {
  position: relative;
  height: 8px;
  background-color: #39d22c;
}

.table-call-handling .handling-inside {
  position: absolute;
  left: 0;
  top: 0;
  height: 8px;
  width: 50%;
  background-color: #ff3c23;
}

.table-marked-as-away span {
  font-size: 11px;
}

.table-mark {
  font-weight: bold;
  font-size: 14px !important;
}

.table-mark-dot {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: orange;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.dt-buttons .dt-button {
  background: linear-gradient(to bottom, #fdfdfd 0%, #f5f5f6 100%) !important;
  border: 1px solid #dadada !important;
  margin-right: 10px !important;
  border-radius: 10px !important;
}

.filters-section {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.filters-left-section {
  display: flex;
  padding-bottom: 30px;
}

table {
  width: 100% !important;
}

.members-data-table thead th {
  padding: 10px !important;
}

/* right sidebar */

.right-sidebar {
  position: fixed;
  width: 250px;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  border-left: 1px solid #dadada;
  padding: 20px 15px;
}

.right-sidebar-card {
  border: 1px solid #dadada;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px 0;
}

.right-sidebar-card-top {
  background-color: #ffc1b9;
  padding: 15px 10px;
}

.right-sidebar-card-top p {
  text-align: center;
  margin: 15px 0;
}

.right-sidebar-card-top .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.right-sidebar-card-top .buttons .btn {
  background: linear-gradient(to bottom, #fdfdfd 0%, #f5f5f6 100%) !important;
  font-size: 12px;
}

.right-sidebar-card-bottom div {
  padding: 15px 10px;
}

.right-sidebar-card-bottom div .title {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 13px;
}

.right-sidebar-card-bottom div .subtitle {
  font-size: 12px;
}

.right-sidebar-end-call {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  border: none;
  background-color: #ff3d24;
  cursor: pointer;
}

.right-sidebar-end-call span {
  font-size: 13px;
}

/* members management */

.back-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.back-button p {
  font-size: 12px;
  margin-left: 10px;
}

.manage-members-view {
  padding: 20px 0;
}

.manage-members-view .title {
  padding: 20px 0;
  font-size: 20px;
  font-weight: bold;
}

.member-management-data-table-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 20px;
}

.management-data-table {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.management-data-table .title {
  font-size: 14px;
  padding: 0;
}

.table-role {
  display: flex;
  align-items: center;
}

.table-role p {
  margin-right: 10px;
}

.management-data-table .dropdown-button {
  background: linear-gradient(to bottom, #fdfdfd 0%, #f5f5f6 100%) !important;
  font-size: 12px;
  padding: 8px 10px;
}

.management-data-table .dropdown-menu {
  top: 35px;
}

#unqueue-data-table td {
  padding: 14.5px 20px !important;
}

.management-data-table tr:nth-child(even) {
  background-color: #f4f4f5;
}

.management-data-table thead {
  display: none;
}

.management-table-search {
  width: 100%;
  border: 1px solid #dadada;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0;
}

.management-table-search input {
  width: 100%;
  border: none;
  outline: none;
}

.management-table-search label {
  display: flex;
}

.management-table-search label::before {
  content: "\f002";
  font-family: FontAwesome;
  margin-right: 10px;
}

.management-select-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.management-select-section div {
  display: flex;
  gap: 5px;
}

.management-select-section .unqueue-clear,
.management-select-section .queue-clear {
  color: #0695ff;
  cursor: pointer;
}

.management-select-section .unqueue-select-number,
.management-select-section .queue-select-number {
  font-weight: bold;
}

.management-select-section .unqueue-button,
.management-select-section .queue-button {
  background-color: #2297ff;
  border: none;
  outline: none;
  padding: 7px 12px;
  border-radius: 10px;
  cursor: pointer;
}

.management-select-section .unqueue-button:disabled,
.management-select-section .queue-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.management-select-section .queue-button {
  background-color: #ff3c23;
}

.management-select-section .queue-button i {
  transform: rotate(180deg);
}

.management-data-table tr.select {
  background-color: #b8deff !important;
}

.management-data-table .select .table-role {
  visibility: visible !important;
}

.management-data-table .table-role-queue {
  display: flex;
  align-items: center;
  justify-content: end;
}

.management-data-table .table-role-queue div {
  border-radius: 10px;
  padding: 3px 10px;
  font-size: 12px;
}

.management-data-table .table-role-queue .Manager {
  background-color: #2ed022;
}

.management-data-table .table-role-queue .Agent {
  background-color: transparent;
}
