/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f5;
  padding: 20px 30px;
  color: #5d5d65;
  font-size: 14px;
}

.hidden {
  display: none !important;
}

/* header */
header {
  display: flex;
}

.header-icons {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  width: min-content;
  border: 1px solid #dadadd;
  margin-left: 17px;
}

.header-icons div {
  padding: 6px 8px;
  padding-top: 10px;
  font-size: 16px;
  background-color: #fcfdfd;
  cursor: pointer;
}

.header-icons .header-icon.selected {
  background-color: #dadadd;
}

.header-icons .header-icon {
  border-right: 2px solid #dadadd;
}

.header-icons .header-icon:last-child {
  border-right: 0;
}

/* filters */
.filters {
  display: flex;
  justify-content: space-between;
  background-color: #dadadd;
  padding: 15px;
  margin: 5px 0;
  border-radius: 10px;
}

.filters div .dropdown {
  margin-right: 20px;
}

.filters div:nth-child(1) {
  display: flex;
}

.date-range-filter {
  display: flex;
  align-items: center;
}

.date-range {
  display: flex;
  margin-left: 20px;
  font-size: 14px;
}

#date-range-1,
#date-range-2 {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  min-width: 150px;
  cursor: pointer;
}

/* .date-range-1::after, */
#date-range-2::after {
  content: "\f073";
  font-family: FontAwesome;
  font-weight: normal;
  font-size: 16px;
  cursor: pointer;
}

#date-range-1 {
  border-right: 2px solid #dadadd;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#date-range-2 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* data table */
#data-table {
  margin-top: 20px;
}

#data-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 20px;
}

#data-table thead th.sortable::after {
  content: "\f0dc";
  font-family: FontAwesome;
  font-weight: normal;
  font-size: 11px;
  margin-left: 10px;
}

#data-table thead th {
  font-size: 14px !important;
  text-transform: uppercase;
  padding: 20px;
  text-align: start;
  cursor: pointer;
  width: min-content;
}

#data-table tbody tr {
  border: 1px solid #dadadd;
}

#data-table tbody tr td {
  padding: 20px;
}

#data-table tbody tr:nth-child(1) {
  border-radius: 20px;
}

#data-table tbody tr:nth-child(odd) {
  background-color: white;
}

#data-table .table-avatar {
  color: white;
  font-weight: bold;
  background-color: green;
  display: inline-block;
  border-radius: 100%;
  padding: 7px;
  background-color: #78c989;
  margin-right: 10px;
}

#data-table .table-name {
  font-weight: 600;
  font-size: 14px;
}

#data-table .table-time {
  font-size: 13px;
}

#data-table .table-calls {
  position: relative;
  height: 16px;
  background: #dadadd;
  width: 100%;
}

#data-table .table-calls .calls1 {
  position: absolute;
  height: 8px;
  top: 0;
  left: 0;
}

#data-table .table-calls .calls2 {
  position: absolute;
  height: 8px;
  top: 8px;
  left: 0;
}

/* button */
.btn {
  min-height: 32px;
  min-width: 60px;
  border-radius: 10px;
  border: 1px solid #dadadd;
  background-color: white;
  cursor: pointer;
}

/* dropdown */

.dropdown {
  position: relative;
}

.dropdown-button {
  background-color: white;
  border: 1px solid #dadadd;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px;
  min-width: 220px;
  cursor: pointer;
  font-size: 14px;
}

.dropdown-button::after {
  content: "\f0dc";
  font-family: FontAwesome;
  font-weight: normal;
  font-size: 10px;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: 45px;
  padding: 15px 20px;
  background-color: white;
  border-radius: 10px;
  display: none;
  box-shadow: 0px 0px 10px 2px #dadadd;
  z-index: 1;
}

.search-box {
  margin-bottom: 20px;
}

.search-box .btn {
  background-color: #f4f4f5;
  margin-left: 20px;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-selects {
  max-height: 300px;
  overflow-y: auto;
}

.select-all-checkbox {
  border-bottom: 2px solid #f4f4f5;
  padding: 10px 0;
}

.select-checkbox,
.select-all-checkbox {
  padding: 10px;
  display: flex;
  align-items: center;
}

.select-checkbox input,
.select-all-checkbox input {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.select-checkbox label,
.select-all-checkbox label {
  margin-left: 5px;
}

.select-checkbox:hover,
.select-all-checkbox:hover {
  background-color: #f4f4f5;
}

/* input control */
.input-control {
  position: relative;
  display: flex;
  align-items: center;
}

.input-control input {
  padding: 10px 30px;
  border-color: #dadadd;
  border-radius: 10px;
}

.input-control .left-element {
  position: absolute;
  left: 10px;
  color: #dadadd;
}

/* screen 2 */
.screen2-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.screen2-box {
  grid-column: auto;
}

.box-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.screen2-box .box-card {
  background-color: white;
  padding: 0px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px #dadadd;
}

.screen2-box .close-box {
  cursor: pointer;
}

.screen2-box .box-card .box-calls,
.screen2-box .box-card .box-progress {
  border-bottom: 2px solid #ebebed;
  padding: 18px 0px;
}

.screen2-box .box-card .box-progress:last-child {
  border-bottom: 0px;
}

.screen2-box .box-card .box-calls div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.screen2-box .box-card .box-calls p {
  font-weight: bold;
}

.screen2-box .box-card .box-calls span {
  margin-left: 10px;
  font-size: 13px;
}

.progress {
  position: relative;
  margin: 4px;
  /* float: left; */
  text-align: center;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.barOverflow {
  /* Wraps the rotating .bar */
  position: relative;
  overflow: hidden; /* Comment this line to understand the trick */
  width: 130px;
  height: 65px; /* Half circle (overflow) */
  margin-bottom: -14px; /* bring the numbers up */
}
.bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 130px; /* full circle! */
  border-radius: 50%;
  box-sizing: border-box;
  border: 30px solid #eee; /* half gray, */
  /* border-bottom-color: #0bf; half azure */
  /* border-right-color: #0bf; */
}

.handled .bar {
  border-bottom-color: #209218; /* half azure */
  border-right-color: #209218;
}

.missed .bar {
  border-bottom-color: #ffbe01; /* half azure */
  border-right-color: #ffbe01;
}

.rejected .bar {
  border-bottom-color: #cc1700; /* half azure */
  border-right-color: #cc1700;
}

.progress-number {
  position: absolute;
  top: 48px;
  font-weight: bold;
}

.progress-length {
  width: 120px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 6px 0px 7px 4px;
  font-weight: bold;
}

.screen2-box .box-progress .title {
  font-weight: bold;
  margin-bottom: 5px;
}

.screen2-box .box-progress .subtitle {
  font-size: 13px;
}

.screen2-pagination {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 20px;
}

.screen2-pagination .pages {
  display: flex;
  align-items: center;
}

.screen2-pagination .pages .left-btn,
.screen2-pagination .pages .right-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 15px;
  cursor: pointer;
  border: 1px solid #dadadd;
  margin-left: 15px;
  border-radius: 10px;
  font-size: 11px !important;
  background-color: white;
}

.screen2-pagination .pages .left-btn.disabled,
.screen2-pagination .pages .right-btn.disabled {
  background-color: transparent !important;
  cursor: not-allowed !important;
}

.screen2-pagination .pages .left-btn {
  margin-right: 15px;
}

.screen2-pagination .pages .number {
  font-weight: bold;
}

/* screen3 */

.screen3-agents {
  display: flex;
  align-items: center;
  padding: 20px 0;
  flex-wrap: wrap;
  gap: 15px;
}

.screen3-agent {
  display: flex;
  margin-right: 50px;
  align-items: center;
}

.screen3-agent div {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-right: 10px;
}

.screen3-agent p {
  font-weight: bold;
}

.screen3-agent i {
  cursor: pointer;
  margin-left: 10px;
}

.screen3-charts {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.screen3-chart {
  background-color: white;
  border-radius: 10px !important;
  box-shadow: 0px 0px 5px 2px #dadadd;
  padding: 15px 10px;
}
